<?xml version="1.0" encoding="utf-8"?>
    <manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.wuts0n.hausrafaelapp">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.wuts0n.hausrafaelapp.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.wuts0n.hausrafaelapp.AboutUsActivity"
            android:label="@string/menu_about_us"
            android:parentActivityName="me.wuts0n.hausrafaelapp.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.wuts0n.hausrafaelapp.MainActivity" />
        </activity>
        <activity
            android:name="me.wuts0n.hausrafaelapp.TeamListActivity"
            android:label="@string/menu_team"
            android:parentActivityName="me.wuts0n.hausrafaelapp.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.wuts0n.hausrafaelapp.MainActivity" />
        </activity>
        <activity
            android:name="me.wuts0n.hausrafaelapp.TeamMemberActivity"
            android:label="@string/employee"
            android:parentActivityName="me.wuts0n.hausrafaelapp.TeamListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.wuts0n.hausrafaelapp.TeamListActivity" />
        </activity>
        <activity
            android:name="me.wuts0n.hausrafaelapp.ContactActivity"
            android:label="@string/menu_contact"
            android:parentActivityName="me.wuts0n.hausrafaelapp.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.wuts0n.hausrafaelapp.MainActivity" />
        </activity>
        <activity
            android:name="me.wuts0n.hausrafaelapp.NewsActivity"
            android:label="@string/menu_news"
            android:parentActivityName="me.wuts0n.hausrafaelapp.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.wuts0n.hausrafaelapp.MainActivity" />
        </activity>
    </application>

</manifest>